header {
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > div {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > div a,
header > div button {
    height: 100%;
    padding: var(--header-padding);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    background: inherit;
    padding: 0;
    border: none;
    font: inherit;
    text-decoration: none;
}

header > div#left_header img {
    height: 100%;
}
