header {
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: var(--header-background);
    color: var(--header-color);
}

header > div {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > div a,
header > div button {
    height: 100%;
    padding: var(--header-padding);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    background: inherit;
    border: none;
    font: inherit;
    text-decoration: none;
}

header > div#left_header a:not(:first-child),
header > div#right_header a:not(:last-child),
header > div button {
    width: var(--header-button-width);
}

header > div a:not(:first-child):hover,
header > div a:not(:first-child):active,
header > div button:hover,
header > div button:active {
    background: var(--header-active-background);
    color: var(--header-color-background);
}

header > div#right_header a:last-child {
    width: var(--header-height);
}

header > div#left_header img {
    height: 100%;
}
