:root {
    --header-height: 64px;
    --header-padding: 8px;
    --header-button-width: 128px;
    --header-background: #004087;
    --header-active-background: #0499f5;
    --header-color: white;
    --header-active-color: black;
    --header-button-font-size: 20px;
}
